<div
  class="bg-card shadow-md shadow-slate-900 p-4 mt-4 rounded-md border-t-8 {{ note.model }}"
  [ngClass]="widthNote()"
>
  <p class="subject">
    <b><ng-icon name="lucideScrollText" class="mr-2 {{ note.model }}" />{{ note.subject }}</b>
  </p>
  <p class="content mt-4">{{ note.content }}</p>
  <div class="flex justify-center gap-2">
    <button hlmBtn variant="outline" class="border-none cursor-pointer mt-2.5" title="Editar nota {{ note.content }}" routerLink="/notes/updateNote/{{note.id}}">
      <ng-icon name="lucideEdit" />
    </button>
    <button hlmBtn variant="outline" class="border-none cursor-pointer mt-2.5" title="Excluir nota {{ note.content }}" routerLink="/notes/deleteNote/{{note.id}}">
      <ng-icon name="lucideTrash2" />
    </button>
  </div>
</div>