.model1 {
  border-top-color: rgb(94 234 212);
}

.model1 b {
  color: rgb(94 234 212);
}

.model2 {
  border-top-color: rgb(252 211 77);
}

.model2 b {
  color: rgb(252 211 77);
}

.model3 {
  border-color: rgb(252 165 165);
}

.model3 b {
  color: rgb(252 165 165);
}