<section class="container">
  <header class="py-5 header text-center font-bold">
    <h2>Adicione uma nova anotação:</h2>
  </header>
  <form class="p-5 flex flex-col bg-primary/10 rounded-xl gap-4">
    <label hlmLabel for="note" class="font-bold">
      Anotação
    </label>
    <input
      hlmInput
      type="text"
      id="note"
      name="note"
      placeholder="Digite sua anotação"
      class="my-1 h-10"
    />
    <label hlmLabel for="note" class="font-bold">
      Anotação
    </label>
    <input
      hlmInput
      type="text"
      id="note"
      name="note"
      placeholder="Digite sua anotação"
      class="my-1 h-10"
    />
  </form>
</section>
